[user]
	name = Jason Forbes
	email = jason.g.forbes@gmail.com
[alias]
    graph = log --decorate --graph
    prune-branches = !git remote prune origin && git branch -vv | grep ': gone]' | awk '{print $1}' | xargs -r git branch -d
[credential]
	helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret
[core]
	editor = vim
